<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="row no-gutters bg-white shadow rounded overflow-hidden">
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
      <img
        src="../../../assets/images/3d-business-joyful-man-with-raised-fists.png"
        alt="Login Illustration"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 p-4">
      <form>
        <h2 class="text-center mb-4">Login</h2>
        <p class="text-center mt-3 mb-2 font-weight-bold">Continue With</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-outline-secondary" (click)="handleAuth()">
            <img src="../../../assets/images/google-icon.svg" alt="Google" class="mr-2" />
            Sign in with Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>